#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.5em;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 85px);
  grid-template-rows: repeat(6, 75px);
  grid-auto-flow: row;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
  gap: 5px;
}

#display {
  grid-column: 1/5;
  height: 50px;
  font-size: 1em;
  text-align: right;
  padding: .25em;
  border-radius: 8px;
  align-self: center;
  overflow: hidden;
}

#display p {
  margin: 0;
  font-family: monospace;
}

button {
  width: 100%;
  height: 100%;
}

#clear {
  grid-row: 2/3;
  grid-column: 1/3;
}

#divide {
  grid-row: 2/3;
}

#multiply {
  grid-row: 2/3;
}

#seven {
  grid-row: 3/4;
}

#eight {
  grid-row: 3/4;
}

#nine {
  grid-row: 3/4;
}

#four {
  grid-row: 4/5;
}

#five {
  grid-row: 4/5;
}

#six {
  grid-row: 4/5;
}

#one {
  grid-row: 5/6;
}

#two {
  grid-row: 5/6;
}

#three {
  grid-row: 5/6;
}

#zero {
  grid-row: 6/7;
  grid-column: 1/3;
}

#decimal {
  grid-row: 6/7;
}

#equals {
  grid-row: 5/7;
  grid-column: 4/5;
}
